<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="Partly Cloudy" />
    <link rel="apple-touch-icon" href="/static/icon.png" />
    <link rel="icon" href="/static/favicon.png" type="image/x-icon" />
    <title>{{ data.get('about').get('title') }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" />
    <link rel="stylesheet" href="/static/styles.css" />
    </style>
  </head>
  <body>
    <div id="container">

      <section id="conditions">
        <header>
          <h1>Current Conditions at</h1>
          <h2>{{ data.get('location').get('name') }}</h2>
        </header>
        <main>
          <div class="row">
            <div class="left">
              <img src="{{ data.get('conditions').get('icon') }}" />
            </div>
            <div class="right">
                <span class="conditions">{{ data.get('conditions').get('conditions') }}</span><br/>
                <span class="temperature">{{ data.get('conditions').get('temp_f') }}&deg;F</span><br/>
                {% if data.get('conditions').get('wind_chill_f') %}
                <span class="wchill">Feels like {{ data.get('conditions').get('wind_chill_f') }}&deg;F</span><br/>
                {% end %}
            </div>
          </div>
          <div>
            <p>
                <strong>Humidity:</strong>
                {{ data.get('conditions').get('humidity_pct') }}%<br/>
                <strong>Wind:</strong>
                {{ data.get('conditions').get('wind_dir') }} at {{ data.get('conditions').get('wind_sp_mph') }} mph<br/>
                <strong>Pressure:</strong>
                {{ data.get('conditions').get('pressure_in') }} in ({{ data.get('conditions').get('pressure_mb') }} mb)<br/>
                <strong>Dew Point:</strong>
                {{ data.get('conditions').get('dewpoint_f') }}&deg;F<br/>
                <strong>Visibility:</strong>
                {{ data.get('conditions').get('visibility_mi') }} miles<br/>
            </p>
          </div>
        </main>
      </section>

      {% if len(data.get('alerts', [])) > 0 %}
      <section id="alerts">
        <header>Hazardous Weather Conditions</header>
        <main>
          <ul>
          {% for alert in data.get('alerts') %}
            <li><a href="{{ alert.get('href') }}">{{ alert.get('name') }}</a></li>
          {% end %}
          </ul>
        </main>
      </section>
      {% end %}

      <section id="forecasts">
        <header>
          <h1>Extended forecast for</h1>
          <h2>{{ data.get('about').get('location') }}</h2>
        </header>
        <main class="nopadding">
          {% for forecast in data.get('forecasts') %}
          <div class="forecast">
            <h3>
              {{ forecast.get('period') }}
              <span class="hi-lo {{ forecast.get('hi_lo_type') }}"}>{{ forecast.get('hi_lo_label') }} {{ forecast.get('hi_lo_temp_f') }}&deg;F</span>

            </h3>
            <h4>{{ forecast.get('desc_short') }}</h4>
            <div class="row">
              <div class="left">
                <img src="{{ forecast.get('icon') }}" />
              </div>
              <div class="right forecast-text">
                <p>{{ forecast.get('desc_long') }}</p>
              </div>
            </div>
          </div>
          {% end %}
        </main>
      </section>

      <section id="radar">
        <header>Radar and Satellite</header>
        <main class="rad-sat">
          <a href="{{ data.get('radar').get('href') }}"><img src="{{ data.get('radar').get('icon') }}" /></a>
          <a href="{{ data.get('satellite').get('href') }}"><img src="{{ data.get('satellite').get('icon') }}" /></a>
        </main>
      </section>

      <footer>
        Last Updated: {{ data.get('about').get('updated') }}
      </footer>

    </div>
  </body>
</html>
